<!DOCTYPE html>
<html>
    <head>
        <title>Sample Dapp</title>
       
    
    </head>

    <body>
        <h1>Hello from Sample Dapp</h1>
        <div>
          <form action="/setValue" method="POST">
            <br><br>
            <input type="text" name="dataValue" placeholder="Enter your value"/>
            <input type="submit" value="Store"/>
          </form>

            <br><br>
            <form action="/viewValue" method="GET">
            <input type="submit" value="Get Value"/>
          </form>
        </div>
    </body>

</html>
